<div class="unit-name">N2</div>
<div class="row" *ngFor="let item of N2">
  <div class="unit-booking">{{item.unit}} {{item.from}} - {{item.to}}</div>
  <button class="unit-booking-delete" type="button" (click)="deleteBooking(item)">Delete</button>
</div>

<div class="unit-name">N3</div>
<div *ngFor="let item of N3">
  <div class="unit-booking">{{item.unit}} {{item.from}} - {{item.to}}</div>
  <button class="unit-booking-delete" type="button" (click)="deleteBooking(item)">Delete</button>
</div>

<div class="unit-name">N4</div>
<div *ngFor="let item of N4">
  <div class="unit-booking">{{item.unit}} {{item.from}} - {{item.to}}</div>
  <button class="unit-booking-delete" type="button" (click)="deleteBooking(item)">Delete</button>
</div>

<div class="unit-name">N5</div>
<div *ngFor="let item of N5">
  <div class="unit-booking">{{item.unit}} {{item.from}} - {{item.to}}</div>
  <button class="unit-booking-delete" type="button" (click)="deleteBooking(item)">Delete</button>
</div>
