<div>
  <form [formGroup]="period">
    <label for="from">From: </label>
    <input class="input" id="from" type="text" formControlName="from" />

    <label for="to">To: </label>
    <input class="input" id="to" type="text" formControlName="to" />

    <label for="month">Month: </label>
    <select class="month" name="month" id="month" formControlName="month">
      <option value="June">June</option>
      <option value="July">July</option>
    </select>

    <label for="unit">Unit: </label>
    <select name="unit" id="unit" formControlName="unit">
      <option value="N2">N2</option>
      <option value="N3">N3</option>
    </select>
  </form>
  <button class="add" type="button" (click)="onSubmitPeriod()">Add</button>
</div>
<table>
  <th>June</th>
  <tr>
    <th>N2</th>
    <!-- TODO: uncomment this line when ready...
    <td [ngClass]="{ 'td-booked': item.booked === true }" *ngFor="let item of bookingJune.N2; index as i">
      {{ item.day }}
    </td>
    -->
    <td class="split3" *ngFor="let item of bookingJune.N2; index as i">
      {{item.day}}
    </td>
  </tr>
  <tr>
    <th>N3</th>
    <td [ngClass]="{ 'td-booked': item.booked === true }" *ngFor="let item of bookingJune.N3; index as i">
      {{ item.day }}
    </td>
  </tr>

  <tr>
    <th>N4</th>
    <td [ngClass]="{ 'td-booked': item.booked === true }" *ngFor="let item of bookingJune.N4; index as i">
      {{ item.day }}
    </td>
  </tr>
  <tr>
    <th>N5</th>
    <td [ngClass]="{ 'td-booked': item.booked === true }" *ngFor="let item of bookingJune.N5; index as i">
      {{ item.day }}
    </td>
  </tr>
</table>
