<div>
  <form [formGroup]="period">

    <div>
      <label for="from">From: </label>
    </div>
    <div>
      <input class="input" id="from" type="text" formControlName="from" />
      <select
        class="month"
        name="fromMonth"
        id="fromMonth"
        formControlName="fromMonth"
      >
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
      </select>
    </div>

    <div class="to-input">
      <label for="to">To: </label>
    </div>
    <div>
      <input class="input" id="to" type="text" formControlName="to" />
      <select
        class="month"
        name="toMonth"
        id="toMonth"
        formControlName="toMonth"
      >
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
      </select>
    </div>


  </form>
  <button class="add" type="button" (click)="onSubmitPeriod()">Add</button>
</div>
<table>
  <th>June</th>
  <tr app-unit-month unitName="N2" [bookings]="bookings.bookingJune.N2"></tr>
  <tr app-unit-month unitName="N3" [bookings]="bookings.bookingJune.N3"></tr>
  <tr app-unit-month unitName="N4" [bookings]="bookings.bookingJune.N4"></tr>
  <tr app-unit-month unitName="N5" [bookings]="bookings.bookingJune.N5"></tr>
</table>
<table>
  <th>July</th>
  <tr app-unit-month unitName="N2" [bookings]="bookings.bookingJuly.N2"></tr>
  <tr app-unit-month unitName="N3" [bookings]="bookings.bookingJuly.N3"></tr>
  <tr app-unit-month unitName="N4" [bookings]="bookings.bookingJuly.N4"></tr>
  <tr app-unit-month unitName="N5" [bookings]="bookings.bookingJuly.N5"></tr>
</table>
<table>
  <th>August</th>
  <tr app-unit-month unitName="N2" [bookings]="bookings.bookingAugust.N2"></tr>
  <tr app-unit-month unitName="N3" [bookings]="bookings.bookingAugust.N3"></tr>
  <tr app-unit-month unitName="N4" [bookings]="bookings.bookingAugust.N4"></tr>
  <tr app-unit-month unitName="N5" [bookings]="bookings.bookingAugust.N5"></tr>
</table>
<table>
  <th>September</th>
  <tr
    app-unit-month
    unitName="N2"
    [bookings]="bookings.bookingSeptember.N2"
  ></tr>
  <tr
    app-unit-month
    unitName="N3"
    [bookings]="bookings.bookingSeptember.N3"
  ></tr>
  <tr
    app-unit-month
    unitName="N4"
    [bookings]="bookings.bookingSeptember.N4"
  ></tr>
  <tr
    app-unit-month
    unitName="N5"
    [bookings]="bookings.bookingSeptember.N5"
  ></tr>
</table>
<app-bookings-list
  [N2]="bookings.bookingsN2"
  [N3]="bookings.bookingsN3"
  [N4]="bookings.bookingsN4"
  [N5]="bookings.bookingsN5"
  [bookings]="bookings"
></app-bookings-list>
