th {
  border: 1px solid black;
  padding: 10px;
}

table {
  padding: 10px;
  display: block; // only table is scrollable
  overflow-x: auto;
  white-space: nowrap;
}

td {
  min-width: 20px; // this makes all the cells same width
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.td-booked {
  border: 1px solid black;
  padding: 10px;
  background-color: yellow;
}

.split3{
  border: 1px solid black;
  //background: repeating-linear-gradient(90deg, blue, red 50%, blue);
  background: repeating-linear-gradient(90deg, blue 0px 10px, white 10px 30px, red 30px 40px);
}

form {
  margin: 20px;
}

.input {
  margin-right: 20px;
  width: 25px;
}

.month {
  margin-right: 20px;
}

.add {
  margin: 20px;
}
